<div id = "about_box"> 
	<h2>Add items to menu</h2>
	<p>
		You can add items to your menus here.
	</p>
	<h3>Select menu to add to</h3>
	<select name = "menuSelect">
	  <option value="Lunch">Lunch</option>
	  <option value="Dinner">Dinner</option>
	  <option value="Breakfast">Breakfast</option>
	  <option value="Brunch">Brunch</option>
	</select>
</div>
