<div id = "about_box"> 
	<h2>Add items to menu</h2>
	<p>
		You can add items to your menus here.
	</p>
<div>
<h3> Select Restaurant Menu</h3>
    <form id="restaurantSelect" method="get">
    Restaurant: <select name='menu_id' id="menuSelectDropdown">
        {{#each restaurants}}
          <option value='{{id}}'>{{id}}{{restaurant_name}} - {{meal_name}}</option>
        {{/each}}
    </select>
    <br>
    <input type="submit" id ="restaurantMenuSelect" value="Submit">
    </form>
</div>

</div>
<script src="/js/addItemsToMenu.js"></script>