<div id = "about_box"> 
	<h2>Add items to menu</h2>
	<p>
		You can add items to your menus here.
	</p>
<div>
<h3> Select Restaurant Menu</h3>
    <form id="restaurantSelect" action="/" method="post">
    Restaurant: <select name='menu_id'>
        {{#each restaurants}}
          <option value='{{id}}'>{{restaurant_name}} - {{meal_name}}</option>
        {{/each}}
    </select>
    <br>
    <input type="submit" value="Submit">
    </form>
</div>

</div>
