<div id="about_box"> 
	<h2>Add to Items</h2>
	<p>
		You can add things to the database here:<br>
	</p>
	<form method = "POST">
    	<legend>Add Item:</legend>
    		<label>Name: </label>
		 	<input type="text" name = "itemName" id = "name_frm" value=""><br>

    		<label>Price:</label>
		 	<input type="number" step = "0.01" min = 0 name = "price" id = "price_frm" value = ""><br>

		 	<label>Description:</label>
		 	<input type="text" name = "desc" id = "desc_frm" value = ""><br>
		 	
		 	<label>Meal Type:</label>
		 	<input type="text" name = "mealType" id = "item_meal_frm" value = ""><br>		 	
	    
	    <input type="submit" id ="submitItem" Value= "Submit Item" />
	    <input type="submit" id ="editItem" Value = "Edit Item" />
	  <!--  <input type="submit" id ="editItem" class ="hide" Value = "Edit Item" /> -->
	</form>

<h1>Item Results:</h1>
<div id = "newItems">
<table id="table">
  <thead>
  	<tr>
    	<th>Name</th>
    	<th>Price</th> 
    	<th>Description</th>
    	<th>Meal Type</th>
    	<th>Primary Ingredient</th>
    </tr>
  </thead>
  <tbody>
  	<tr><td>Steak</td> <td>16.99</td> <td>Its a steak.</td> <td>Dinner</td> <td>Cow</td> <td><input id="edit" type="submit" name="edit" value="Edit" /></td> <td><input id="delete" type="submit" name="del" value="Delete"</td>
  	</tr>
  	<tr><td>Pasta</td> <td>12.99</td> <td>Its just some pasta</td> <td>Dinner</td> <td>Pasta</td> <td><input id="edit" type="submit" name="edit" value="Edit" /></td> <td><input id="delete" type="submit" name="del" value="Delete"</td>
  	</tr>
  	<tr><td>Pancakes</td> <td>6.00</td> <td>Everyone loves pancakes.</td> <td>Breakfast</td> <td>Flour</td> <td><input id="edit" type="submit" name="edit" value="Edit" /></td> <td><input id="delete" type="submit" name="del" value="Delete"</td>
  	</tr>
  	<tr><td>Monte Cristo</td> <td>8.99</td> <td>A strange yet delicious sandwich.</td> <td>Brunch</td> <td>Ham</td> <td><input id="edit" type="submit" name="edit" value="Edit" /></td> <td><input id="delete" type="submit" name="del" value="Delete"</td>
  	</tr>
  	<tr><td>Monte Cristo</td> <td>9.99</td> <td>A strange yet delicious sandwich.</td> <td>Lunch</td> <td>Ham</td> <td><input id="edit" type="submit" name="edit" value="Edit" /></td> <td><input id="delete" type="submit" name="del" value="Delete"</td>
  	</tr>
  </tbody>
</table>

</div>
</main>
</div>

</div>
