<div id="about_box"> 
	<h2>Add to Menus</h2>
	<p>
		this page will allow you to add to the menus, meals and primary ingredient databases.<br>
	</p>
		<div>
		<form method = "post">
    	<legend>Add Menu: </legend>

		 	<label>Restaurant Name: </label>
		 	<input type="text" name = "restaurant" id = "rest_frm" value = ""><br>
		 	
		 	<label>Meal Type: </label>
		 	<input type="text" name = "mealtype" id = "menumt_frm" value = ""><br>		 	
	    
	    <input type="submit" id ="submitMenu" value= "Submit Menu" />
	    <input type="submit" id ="editmenu" value = "Edit Menu" />
	   <!-- <input type="submit" id ="editItem" class ="hide" Value = "Edit Item" /> -->
	</form>	
		</div>
	<h1>Menu Results:</h1>
		<div id = "newItems">
			<table id="table">
			  <thead>
			  	<tr>
			    	<th>Restaurant Name</th> 
			    	<th>Meal Type</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr><td>Murphy's</td> <td>Lunch</td> <td><input id="edit" type="submit" name="edit" value="Edit" /></td> <td><input id="delete" type="submit" name="del" value="Delete"</td>
			  	</tr>
			  	<tr><td>Murphy's</td>  <td>Dinner</td> <td><input id="edit" type="submit" name="edit" value="Edit" /></td> <td><input id="delete" type="submit" name="del" value="Delete"</td>
			  	</tr>
			  	<tr><td>Dots Diner</td> <td>Breakfast</td> <td><input id="edit" type="submit" name="edit" value="Edit" /></td> <td><input id="delete" type="submit" name="del" value="Delete"</td>
			  	</tr>
			  	<tr><td>Dots Diner</td> <td>Lunch</td> <td><input id="edit" type="submit" name="edit" value="Edit" /></td> <td><input id="delete" type="submit" name="del" value="Delete"</td>
			  	</tr>
			  </tbody>
			</table>
		</div>
		</main>
		</div>

		</div>
</div>
