<div id="about_box"> 
	<h2>Add to meals</h2>
	<p>
		this page will allow you to add to the meals, meals and primary ingredient databases.<br>
	</p>
		<div>
		<form method = "post">
    	<legend>Add Meal: </legend>
		 	
		 	<label>Meal Type: </label>
		 	<input type="text" name = "mealtype" id = "mealmt_frm" value = ""><br>		 	
	    
	    <input type="submit" id ="submitmeal" value= "Submit Meal" />
	</form>	
		</div>
	<h1>meal Results:</h1>
		<div id = "newItems">
			<table id="table">
			  <thead>
			  	<tr>
			    	<th>Meal Type</th>
			    </tr>
			  </thead>
			  <tbody>

			  </tbody>
			</table>
		</div>
		</main>
		</div>

		</div>
</div>
<script src="/js/addMealScript.js"></script>

