<div class ="container">
  <h2>Welcome to the menu maker</h2>
  <p>Plase select from the menu above. <br>
  To delete items you need to remove all the references. 
  If removing an item or a menu remove all the items from the menu in the "Add Items To Menu" page
  If removing a meal or primary ingredient first remove them from the item or menu.

  </p>
</div>

