<div class ="container">
<nav class="navbar navbar-inverse" role="navigation">
       <ul class="nav navbar-nav">
        <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/additems">Add Items</a></li>
        <li><a href="/addmenus">Add Menus</a></li>
        <li><a href="/addmeals">Add Meals</a></li>
        <li><a href="/addpi">Add Primary Ingredient</a></li>
        <li><a href="/additemstomenu">Add Items To Menu</a></li>
      </ul>
</nav>
</div>


